{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <section class="h-screen">
        {% for message in app.flashes('success') %}
            <div class="mb-3 inline-flex w-full items-center rounded-lg bg-success-100 px-6 py-5 text-base text-success-700" role="alert">
                <span class="mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                    </svg>
                </span>
                {{ message }}
            </div>
        {% endfor %}
        <div class="w-auto">
            <!-- Left column container with background-->
            <div class="g-6 flex h-full flex-wrap items-center justify-center">
                <div class="shrink-1 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
                    <img src= "{{asset('/images/G3Services_logo.jpg')}}" alt="G3 services logo" />
                </div>

                <!-- Right column container -->
                <div class="md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
                    <form method="post">
                       
                        <!-- Email input -->
                        <div class="relative mb-6" data-te-input-wrapper-init>
                            <input type="text" value="{{ last_username }}" name="username" class="peer block min-h-[auto] w-aut rounded border-1 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="inputName" autocomplete="email" placeholder="Nom" required autofocus />
                            <label for="inputName" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-black dark:peer-focus:text-primary">
                                Nom    							
                            </label>
                        </div>

                        <!-- Password input -->
                        <div class="relative mb-6" data-te-input-wrapper-init>
                            <input type="password" name="password" class="peer block min-h-[auto] w-auto rounded border-1 bg-transparent px-3 py-[0.32rem] leading-[2.15] transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="inputPassword" placeholder="Password" autocomplete="current-password" required />
                            <label for="inputPassword" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-black dark:peer-focus:text-primary">
                                Mot de passe
                                
                                							
                            </label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <!-- Login button -->
                            <div class="text-center lg:text-left">
                                <button type="submit" class="inline-block rounded bg-blue-400 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" data-te-ripple-init data-te-ripple-color="light">
                                    Login
                                    
                                    							
                                </button>

                                <!-- Register link -->
                                <p class="mb-0 mt-2 pt-1 text-sm font-semibold">
                                    Pas de compte?
                                    								
                                    <a href="mailto:jerome.bastaraud@me.com" class="text-danger transition duration-150 ease-in-out hover:text-red-600 focus:text-red-600 active:text-red-700">
                                       Faites une demande d'administration
                                        								
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {# <form method="post">
    		    {% if error %}
    		        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    		    {% endif %}
    		
    		    {% if app.user %}
    		        <div class="mb-3">
    		            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    		        </div>
    		    {% endif %}
    		
    		    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    		    <label for="inputEmail">Email</label>
    		    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    		    <label for="inputPassword">Password</label>
    		    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    		
    		    <input type="hidden" name="_csrf_token"
    		        value="{{ csrf_token('authenticate') }}"
    		    >
    		
    		    <button class="btn btn-lg btn-primary" type="submit">
    		        Sign in
    		    </button>
    		</form> #}

    {% endblock %}
    
