{% extends 'base.html.twig' %}

{% block title %}
    Demande SAV
        
        
    
{% endblock %}

{% block body %}
    <section class="container mx-auto h-full w-100">
        {% for message in app.flashes('success') %}
            <div class="mb-4 rounded-lg bg-green-100 px-6 py-5 text-base text-green-700" role="alert">
                {{ message }}
            {% endfor %}
        </div>
        <div>
            <a class="flex justify-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0" href="{{ path('app_home') }}">
                <img class="mr-2" src="{{ asset('/images/G3Services_logo.jpg') }}" style="height:220px" alt="G3 services Logo" loading="lazy" />
            </a>
        </div>
        {{ form_start(demandeSavForm) }}
        <form>
            <h1 class="text-4xl text-center mb-10">
                Demande d'intervention SAV
                                			
                            
            </h1>
            <div class="justify-center rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-white">

                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        {{ form_row(demandeSavForm.createdAt, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                        {{ form_row(demandeSavForm.email, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    {{ form_row(demandeSavForm.adresse, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                    ) }}
                                        				
                                    
                </div>
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        {{ form_row(demandeSavForm.cp, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>

                    <div class="mb-6">
                        {{ form_row(demandeSavForm.ville, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        {{ form_row(demandeSavForm.nom, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        {{ form_row(demandeSavForm.prenom, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>
                </div>
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        {{ form_row(demandeSavForm.telephone, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        {{ form_row(demandeSavForm.modele, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        {{ form_row(demandeSavForm.serialNumber, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        {{ form_row(demandeSavForm.localisation, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        ) }}
                                                					
                                            
                    </div>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    {{ form_row(demandeSavForm.description, {'attr': {'class':"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                    ) }}
                                        				
                                    
                </div>

                <div class="relative z-0 w-full mb-6 group">
                    {{ form_row(demandeSavForm.imageFile, {'attr': {'class':"relative m-0 block min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-1 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-white dark:border-neutral-600 dark:text-black dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary" }}
                    ) }}
                                        
                                        				
                                    
                </div>
                

                    <button type="submit" data-te-ripple-init data-te-ripple-color="light" class="mb-6 inline-block w-auto rounded bg-blue-500 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-white focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                        Envoyer
                                            				
                                        
                    </button>
                </div>
            </form>
            {{ form_end(demandeSavForm) }}
        </section>

    {% endblock %}
    