{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_error }}
        </div>
    {% endfor %}

    <section class="relative py-20 bg-white" style="padding-top:180px      !important; padding-bottom:180px !important;">
        <div class="container px-4 mx-auto">
            <div class="w-full h-full mb-12">
                <div class="g-6 flex h-full flex-wrap mx-auto items-center justify-center text-neutral-800 dark:text-neutral-200">
                    <div class="w-auto">
                        <div class="block rounded-lg shadow-lg border-1 bg-white">
                            <div class="g-0 lg:flex lg:flex-wrap">
                                <!-- Left column container-->
                                <div class="w-auto">
                                    <div class="md:mx-6 md:p-12 justify-center">
                                        <!--Logo-->
                                        <div class="text-center">
                                            <img class="mx-auto w-48" src="{{ asset('/images/G3Services_logo.jpg') }}" alt="logo" />
                                        </div>
                                        {{ form_errors(registrationForm) }}
                                        <div class="justify-center">
                                        {{ form_start(registrationForm) }}
                                        <p class="mb-4 text-center">
                                            Créer un compte 
                                                                                
                                        </p>
                                        <!--Usermane input-->
                                        <div class="relative mb-6" data-te-input-wrapper-init>
                                            <input name="{{ field_name(registrationForm.username) }}" value="{{ field_value(registrationForm.username) }}" placeholder="{{ field_label(registrationForm.username) }}" type="text" class="peer block min-h-[auto] rounded border-1 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-black data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-black dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="exampleInput91" placeholder="Nom" />
                                            <label class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-black transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-500 dark:peer-focus:text-black" for="exampleInput91">
                                                Nom
                                                                                        
                                            </label>
                                        </div>
                                        <div class="relative mb-6" data-te-input-wrapper-init>
                                            <input name="{{ field_name(registrationForm.plainPassword) }}" value="{{ field_value(registrationForm.plainPassword) }}" placeholder="{{ field_label(registrationForm.plainPassword) }}" type="password" class="peer block min-h-[auto] w-auto rounded border-1 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-black data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-black dark:placeholder:text-black dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="exampleInput91" placeholder="Mot de passe" />
                                            <label class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-dark transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-500 dark:peer-focus:text-black" for="exampleInput91">
                                                Mot de passe                                    
                                            </label>
                                        </div>

                                        <!--Submit button-->
                                        <div class="mb-12 pb-1 pt-1 text-center">
                                            <button class="mb-3 w-auto inline-block rounded px-6 pb-2 pt-2.5 text-xs bg-gradient-to-r from-cyan-500 to-blue-500 font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]" type="submit" data-te-ripple-init data-te-ripple-color="light">
                                                Créer                                  
                                            </button>
                                            <!--Term et condition-->
                                            <div class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
                                                {{ form_row(registrationForm.agreeTerms) }}
                                            </div>
                                        </div>

                                        <!--Register button-->
                                        <div class="flex items-center justify-between pb-6 float-right">
                                            <p class="mb-0 mr-2">
                                                Déjà inscrit?                                        
                                            </p>
                                            <a type="button" href="{{ path('app_login') }}" class="inline-block rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-danger-600 focus:border-danger-600 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10" data-te-ripple-init data-te-ripple-color="light">
                                                Login                                      
                                            </a>
                                        </div>
                                        {{ form_end(registrationForm) }}
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

