<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>
            Demande de SAV
        </h1>
        <p>
            {{demande.createdAt}}
        </p>
        <p>
            {{demande.adresse}}
        </p>
        <p>
            {{demande.cp}}
        </p>
        <p>
            {{demande.ville}}
        </p>
        <p>
            {{demande.nom}}
        </p>
        <p>
            {{demande.prenom}}
        </p>
        <p>
            {{demande.telephone}}
        </p>
        <p>
            {{demande.modele}}
        </p>
        <p>
            {{demande.serialNumber}}
        </p>
        <p>
            {{demande.localisation}}
        </p>
        <p>
            {{demande.description}}
        </p>
        <img src="{{demande.imageFile}}" alt="#">
    </body>
</html>

